<style>
  .header{
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: black;
    font-size: 16px;
  }
  .header-Logo{
    color: black;
    font-size: 40px;
    font-weight: 700;
  }
  .header-text{
    margin-left: 5%;
  }
</style>

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand header-Logo" href="#">Exam Buddy</a>     
    </div>
    <span class="header header-text">IIT JEE</span>
    <ul class="nav navbar-nav pull-md-right">
      <li class="header">+91-9004477563</li>
      <li class="header"> Login</li>
      <!-- <span class="glyphicon glyphicon-log-in"></span> -->
    </ul>
  </div>
</nav>



  <router-outlet></router-outlet>



