<div class="container-fluid dashboard-Main-div">
  <div class="dashboard-detail-item">
      <div class="detail-item-body">
        <div class="detail-header">
          Facing challanges in Exam Preparation ??
        </div>
        <div class="detail-text">
          Get 1:1 Mentorship from Experts, Who have cracked the exams themselves
        </div>
        <div>
          <button class="btn btn-warning session-btm" routerLink='/bookSession' routerLinkActive="router-link-active">Book a free Session</button>
          <button class="btn btn-primary have-a-call-btn">Have us call you</button>
        </div>
      </div>
  </div>
</div>
