
.dashboard-detail-item {
  //background-color: #f6ddbe;
  background-image: linear-gradient(to right, #E3D4A1, #F0E1B1) ;   
  min-height: 50px; 
 padding:5% 3%; 
}
.detail-text {
  font-size: 22px;
  margin-bottom: 10%;
  line-height: normal;
  margin-top: 8%;
}
.detail-header {
  font-size: 30px;
  font-weight: 600px;
  line-height: normal;
}

.have-a-call-btn {
  padding: 1% 5%;
  font-weight:bolder;
  background-image: linear-gradient(to right, #ee6b0b, #ff9300);
}

.book-a-free-session-btn {
  padding: 1% 5%;
  font-weight:bolder;
  background-image: linear-gradient(to right, #290f60, #4a2597);
  color: white;
}

// .detail-item-body {
//   width: 55%
// }



