<div class="container-fluid dashboard-Main-div">
    <div style="background-color: #f6ddbe; min-height: 50px; padding-left: 4%;background-color:#ecd5b8;min-height: 50px;padding-top: 6%;padding-bottom: 5%;">
      <div style="width: 55%;">
        <div style="color: black; font-size: 30px; font-weight: 600px;">Facing challanges in Exam Preparation ??</div>
        <div style="font-size: 22px; color: black; margin-bottom: 5%;margin-top: 5%;">Get 1:1 Mentorship from Experts, Who have cracked the exams themselves </div>
        <div><button class="btn btn-warning " style="margin-right:3%;font-weight:bolder; padding: 15px; color:black" routerLink='/bookSession' routerLinkActive="router-link-active" >Book a free Session</button> <button class="btn btn-primary" style="padding:15px;font-weight:bolder;">Have us call you</button></div>
      </div>
      
    </div>
  </div>
  