<div class="dashboard-detail-item">
  <mat-grid-list cols="7"   class="dashboard-height" fxLayout="row" fxLayoutAlign="start">
    <mat-grid-tile [colspan]="isMobile ? 7 : 4" [rowspan]="1" class="dashboard-height">
      <div fxLayout="column" class="detail-spacing">
        <div class="detail-header">
          Facing challanges in Exam Preparation ??
        </div>
        <div class="detail-text">
          Get 1:1 Mentorship from Experts, Who have cracked the exams themselves
        </div>
        <div>
          <button class="have-a-call-btn" mat-flat-button routerLink='/bookSession'
            routerLinkActive="router-link-active">Book a free session</button> &nbsp;
          <button class="book-a-free-session-btn" mat-flat-button>Have us call you</button>
        </div>
      </div>

    </mat-grid-tile>
    <mat-grid-tile fxShow="true" fxHide.lt-md="true" [colspan]="3" class="dashboard-height dashboard-deatilImg"></mat-grid-tile>
  </mat-grid-list>
</div>
<div style="text-align: left;margin: 2%;line-height: normal;">
  <span>
    How our mentor can help you achieve success
  </span>
</div>
<mat-grid-list cols="3" rowHeight="150px" fxLayout.md="row">
  <mat-grid-tile>
    <span>
      <img src="../../assets/Image/keySuccess.png" height="100px;" width="auto" />
    </span>
  </mat-grid-tile>
  <mat-grid-tile>
    <span>
      <img src="../../assets/Image/connectPeople.png" height="100px;" width="auto" />
    </span>
  </mat-grid-tile>
  <mat-grid-tile>
    <span>
      <img src="../../assets/Image/analytics-64.png" height="100px;" width="auto" />
    </span>
  </mat-grid-tile>
</mat-grid-list>