.dashboard-Main-div{
    margin: 0px !important; padding: 0px !important;
}

.dashboard-detail-item {
  background-color: #f6ddbe;
  min-height: 50px;
  padding-left: 4%;
  background-color:#ecd5b8;
  min-height: 50px;padding-top:
  6%;padding-bottom: 5%;
}

.session-btm {
  margin-right:3%;
  font-weight:bolder;
  padding: 15px;
  color:black;
}

.detail-text {
  font-size: 22px;
  color: black;
  margin-bottom: 5%;
  margin-top: 5%;
}

.detail-header {
  color: black;
  font-size: 30px;
  font-weight: 600px;
}

.have-a-call-btn {
  padding:15px;
  font-weight:bolder;
}

.detail-item-body {
  width: 55%
}
